//54.243.162.232:8089/imgoinup/repository/tesla-npm-repo/:_authToken=NpmToken.64a18b32-244a-3dad-85ff-3836a38cc78c
##email=tdwaws2024@gmail.com
##always-auth=true
##_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true


##Just need to generate the token using npm login --registry=http://54.243.162.232:8089/imgoinup/repository/tesla-npm-repo/
