//54.243.162.232:8089/imgoinup/repository/tesla-npm-repo/:_authToken=NpmToken.64a18b32-244a-3dad-85ff-3836a38cc78c
//54.243.162.232:8089/imgoinup/repository/tesla-npm-repo/:always-auth=true
##email=tdwaws2024@gmail.com
##always-auth=true
##registry=http://54.243.162.232:8089/imgoinup/repository/tesla-npm-repo
##_authToken=NpmToken.64a18b32-244a-3dad-85ff-3836a38cc78c
##_auth=YWRtaW46YWRtaW4xMjM=
##_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true
